/* .container {
  border-color: #f44336 #2196f3 #4caf50 #ff9800;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  border-style: solid;
  margin-top: 20px;
  height: 1000px;
} */
